body {
  background: #000;
  color: #fff;
  padding: 20px 0;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Lucida Grande', 'Trebuchet MS', Arial;
  margin: 0;
}

h3 {
  background: #4c74ff;
  margin: 0;
  font-weight:bold;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

a {
  color: #0000EE;
}

a:hover {
  color: #fff;
}

/* SCAFFOLD */
.field, .actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* WIDGETS */
#yamboard {
  margin: 0 auto;
  width: 960px;
}

.yb-widget h3 {
  position: relative;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.yb-delete {
  position: absolute;
  right: 20px;
  top: 11px;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  display: none;
}

.yb-delete:hover {
  font-size: 16px;
  background: transparent;
}

.yb-widget {
  color: #fff;
  background-color: #000;
  background-image: -moz-linear-gradient(100% 90% 90deg, #101010, #4b4b4b);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4b4b4b), to(#101010));
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  float: left;
  margin: 20px 10px 20px;
}

.yb-widget-content {
  padding: 10px 10px 20px;
  text-align: center;
  width: 280px;
}

.yb-widget-content h1 {
  font-size: 55px;
  font-weight: bold;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 50px;
 }

.yb-add-widget {
  position: relative;
  margin-left: 20px;
}

.yb-add-widgets-box {
  border: 1px solid #fff;
  padding: 10px;
  position: absolute;
  top: 22px;
  z-index: 10;
  background: #000;
  min-width: 100px;
  display: none;
}

/* NEW WIDGET FORM */
.yb-form {
  color: #fff;
  padding: 20px;
  border: 1px solid #fff;
  width: 250px;
  margin: 20px;
}

.yb-form-title {
  color: #fff;
  font-size: 18px;
  padding: 0 20px;
}

