<div id="yamboard">

  <div class="yb-widget">
    <h3>NETWORKS</h3>
    <div class="yb-widget-content">
      <h1><%= number_with_delimiter(@stats_today.networks) %></h1>
      <% javascript_tag do %>
        yamb.loadChart('networks', [<%= @stats_7_days_networks.join(", ") %>]);
      <% end %>
      <div id='networks'></div>
    </div>
  </div>

  <div class="yb-widget">
    <h3>ACTIVE META USERS</h3>
    <div class="yb-widget-content">
      <h1><%= number_with_delimiter(@stats_today.meta_users_active) %></h1>
      <% javascript_tag do %>
        yamb.loadChart('network_chart_div', [<%= @stats_7_days_meta_users_active.join(", ") %>]);
      <% end %>
      <div id='network_chart_div'></div>
    </div>
  </div>

</div>
