<div id="yamboard">
  <div class="yb-widget">
    <h3>Total Active Users</h3>
    <div class="yb-widget-content">
      yo<br />
      yo<br />
      yo<br />
      yo<br />
      yo<br />
      yo<br />
    </div>
  </div>
</div>
